@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blink-underline {
    animation: blink 0.8s steps(1, end) infinite;
}